body {
  color: #eee;
  background-color: #000;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.Square {
  position: absolute;
  width: 200pt;
  height: 200pt;
  background-color: hsla(30, 100%, 50%, 0.5);
}
